*{
    margin: 0px;
}
body {
    height: 100vh;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
}
#logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 20px;
}
#logo-image {
    width: 60px;
    height: 60px;
}

#nav-links{
    display: flex;
    gap: 4px;
    width: 30%;
    justify-content: space-between;
}

figure {
    position: relative;
    width: 100%;
    aspect-ratio: 4 / 2;
    background-image: url(../assets/home-page-poster.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

figcaption {
    position: absolute;
    top: 70%;
    left: 4%;
    color: white;
    font-weight: bold;
    font-size: 24px;
    width: 40%;
}

.attractions-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin-bottom: 100px;
    gap: 40px;
}

.attractions-section > p {
    font-weight: bold;
    font-size: 40px;
    padding-top: 40px;
}

.attractions-section > button {
    border-radius: 10px;
    margin-top: 30px;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
}

.attractions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    gap: 60px;
}

.attraction {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.attraction-image {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.attraction-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}

.attraction-title {
    font-weight: bold;
    font-size: 20px;
}

.food-menu {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.food-card {
    display: flex;
    width: 100%;
    gap: 40px;
}

.food-image {
    width: 30%;
    aspect-ratio: 4/3;
    border-radius: 10px;
}